.fondo {
    background-color: white;
  }
.contenedor {
    border: 2px solid;
     width: 100%;
     height: 100vh;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: 1fr 1fr;
     grid-template-areas:
        "caja1 caja1 caja2 caja3"
        "caja1 caja1 caja4 caja5";
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 900;
    color: black;
    background-color: white;
}
.logo2:hover{
    height: 300px;
}
.caja {
    border: 1px solid;
    display: grid;
    place-items: center;
    font-weight: 900;

    &:hover{
    background: $secondaryColor;
}
}
.caja1 {
    grid-area: caja1;
    background-color: $mainColor;
}
.caja2 {
    grid-area: caja2;
    background-color: $mainColor;
}
.caja3 {
    grid-area: caja3;
    background-color: $mainColor;
}
.caja4 {
    grid-area: caja4;
    background-color: $mainColor;
}
.caja5 {
    grid-area: caja5;
    background-color: $mainColor;
}

@mixin tamanos{$ancho, $alto} {
    width: $ancho;
    height: $alto;
}

.logo2{
    @include tamanos{auto, 250px}
}