@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap');

$fontKanit: "IBM Plex Sans", sans-serif;

$mainColor:  #7A2A25;

$secondaryColor: #FA574B;

$thirdColor: #FB9D96;