body {
    background-color: #FA574B;
}
.form-control {
    color: #FFFFFF; /* Color de letra */
    background-color: #FA574B; /* Color de fondo del campo de entrada */
}
.btn-primary {
    margin-top: 10px;
    background-color: #7A2A25; /* Color de fondo del botón */
    border-color: #7A2A25; /* Color del borde del botón */
}
.color{
    color: #FFFFFF;
    text-decoration: none;
}