.sobre-nosotros{
    color: gray;
    font-size: 20px;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: solid;
    padding: 15px;
    display: grid;
    gap: 10px;
}